.menu {
   background-color: silver;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px;
}

.menu nav {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
}

.menu nav a {
   margin-right: 10px;
}